@using MilitaryProductsFlaggingSystem.Domain.Common
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="">Witaj w Aplikacji do przegladania produktów</h2>
    <h4 class="">Wybierz dostawcę</h4>
    </br>
    </br>
    
    <td>
        @Html.ActionLink("Dostawca 1", "Products", "Product" , new {  supplier = Supplier.Supplier1 }, new {@class="btn btn-primary"}) |
        @Html.ActionLink("Dostawca 2", "Products", "Product", new { supplier = Supplier.Supplier2 }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Dostawca 3", "Products", "Product", new { supplier = Supplier.Supplier3 }, new { @class = "btn btn-primary" }) |
    </td>
    </br>
    </br>
    
</div>
